// load the base configuration
exec default.cfg

// load the last saved configuration
exec config.cfg

// run a user script file if present
exec autoexec.cfg

// stuff command line statements
stuffcmds

// start demos if not allready running a server
startdemos title demo1 title demo1 title demo1 title demo1

// Kurok stuff

sv_maxspeed 200
sv_maxvelocity 5000

cl_forwardspeed 200
cl_backspeed 200
cl_sidespeed 200